extends layout

block content
  img(src="https://www.radiofrance.fr/s3/cruiser-production/2022/06/a6908050-127d-45d4-9867-877d5301b0c1/1200x680_screenshot-www-youtube-com-2022-06-07-15-54-01.jpg")
  h1= title
  p Welcome to #{title}
